<!DOCTYPE HTML>
<html>
 <head>
 	<script src="/js/home.js"></script>
 	<link rel="stylesheet" href="/styles/home.css">
 	<link rel='stylesheet' href='/styles/fullcalendar.css' />
	<script src='/js/moment.min.js'></script>
	<script src='/js/fullcalendar.js'></script>
 </head>
 <body id="body">
 	<div id='calendar'></div>
 </body>
</html>