<!DOCTYPE HTML>
<html>
 <head>
 	<meta charset='utf-8' />
 	<script src="/js/home.js"></script>
 	<link rel="stylesheet" href="/styles/home.css">
 </head>
 <body id="body">
 	<div id='cover'>
 		<img src="images/cover.jpg">
 	</div>
 	<div id='bar'>
 		<div id='inbar'>
	 		<div id='date'>
	 			<select id='year'>
	 				<option value="2015">2015</option>
	 				<option value="2016">2016</option>
	 			</select>
	 			<select id='month'>
	 			</select>
	 			<select id='day'>
	 			</select>
	 		</div>
	 		<div id='search'>
	 			<button>查詢空位</button>
	 		</div>
	 	</div>
 	</div>
 	<div id='status'>
 		<div id='areaA'></div>
 		<div id='areaB'></div>
 		<div id='areaC'></div>
 		<div id='areaD'></div>
 	</div>
 	<div id='map'>
 	</div>
 </body>
</html>