<!DOCTYPE HTML>
<html>
<head>
	<meta charset='utf-8' />
	<script src="/js/modify.js"></script>
	<script src="/js/home.js"></script>
	<script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/styles/modify.css">
	<link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<ul id="nav" class="nav nav-tabs">
	<li role="presentation" id="add"><a href"#">新增訂單</a></li>
	<li role="presentation" class="active" id="mod"><a href="#">修改/查詢訂單</a></li>
</ul>
<body id="body">
	<table class="table table-hover">
		<tr>
			<td id='col1'>訂購人</td>
			<td id='col2'>時間</td>
			<td id='col3'>區域</td>
			<td id='col4'>數量</td>
			<td id='col5'></td>
		</tr>
		<tr id='searh_result'>
		</tr>
	</table>
</body>
</html>