#nav{
	font-size: 30px;
	margin-bottom: 2%;
}
#body{
	margin: 5%;
}
#search_bar{
	width: 95%;
	margin-bottom: 3%;
	vertical-align: middle;
}
#date{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
#year{
	width: 30%;
	display: inline-block;
}
#month{
	width: 30%;
	display: inline-block;
}
#day{
	width: 30%;
	display: inline-block;
}
#user{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}
#text{
	width: 40%;
	display: inline-block;
	float: left;
}
#user_info{
	width: 60%;
	display: inline-block;
	float: right;
}
#send_search{
	float: right;
}
#result{
	margin-top: 3%;
}